In [1]:
import os
import pandas as pd
from copy import deepcopy
import numpy as np

In [2]:
base_path = os.getcwd()

# Demografic Analysis

In [7]:
demographic_data = pd.read_excel('./Questionnaire/Questionnaire Results.xlsx', sheet_name='Demographic')
demographic_data

,Timestamp,ID,Age,Gender,Degree,Occupation,Good with computers,Use a computer mouse,Use a computer,Previously noticed latency,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2022-07-27 12:59:44,1,21,female,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
1,2022-07-27 14:12:26,2,24,male,Abitur,student,5,daily,daily,multiple times,NaN,Female:,11.000000
2,2022-07-27 15:06:58,3,24,female,Bachelor,student,4,every six months,daily,multiple times,NaN,Student:,26.000000
3,2022-07-27 16:25:10,4,19,female,Abitur,student,3,daily,daily,once,NaN,Mouse:,21.000000
4,2022-07-27 17:15:17,5,23,male,Abitur,student,5,daily,daily,multiple times,NaN,Mean Age:,22.466667
5,2022-07-27 18:48:53,6,23,female,Abitur,student,4,almost never,daily,never,NaN,SD Age:,1.783878
6,2022-07-28 10:08:11,7,22,male,Bachelor,student,3,daily,daily,multiple times,NaN,NaN,NaN
7,2022-07-28 11:05:23,8,22,male,Abitur,student,5,daily,daily,multiple times,NaN,NaN,NaN
8,2022-07-28 12:17:01,9,23,male,Bachelor,student,4,daily,daily,once,NaN,NaN,NaN
9,2022-07-28 14:03:01,1,20,male,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
10,2022-07-28 15:01:29,11,21,male,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
11,2022-07-28 16:04:22,12,22,female,Abitur,student,3,almost never,weekly,once,NaN,NaN,NaN
12,2022-07-28 17:12:58,13,27,female,Abitur,student,4,monthly,weekly,multiple times,NaN,NaN,NaN
13,2022-07-28 18:20:27,14,22,male,Bachelor,student,4,daily,daily,multiple times,NaN,NaN,NaN
14,2022-07-29 10:44:07,15,28,male,Master/Diplom,self-employed,4,daily,daily,multiple times,NaN,NaN,NaN
15,2022-07-29 12:02:29,16,25,male,Bachelor,employed,5,daily,daily,multiple times,NaN,NaN,NaN
16,2022-07-29 16:10:04,17,22,female,Abgeschlossene Ausbildung,employed,4,monthly,weekly,multiple times,NaN,NaN,NaN
17,2022-07-29 17:14:14,18,22,male,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
18,2022-08-01 10:06:42,19,21,female,Abitur,student,4,monthly,daily,multiple times,NaN,NaN,NaN
19,2022-08-01 11:15:22,20,22,female,Abitur,student,4,every six months,daily,multiple times,NaN,NaN,NaN
20,2022-08-01 12:26:11,21,22,male,Abitur,student,3,daily,daily,multiple times,NaN,NaN,NaN
21,2022-08-01 14:08:51,22,23,male,Abitur,student,5,daily,daily,multiple times,NaN,NaN,NaN
22,2022-08-01 15:09:35,23,22,male,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
23,2022-08-01 16:05:52,24,22,male,Abgeschlossene Ausbildung,student,5,daily,daily,multiple times,NaN,NaN,NaN
24,2022-08-01 17:11:28,25,21,male,Abitur,student,5,daily,daily,multiple times,NaN,NaN,NaN
25,2022-08-02 09:33:00,26,22,male,Bachelor,student,4,daily,daily,multiple times,NaN,NaN,NaN
26,2022-08-02 11:04:23,27,22,female,Abitur,student,3,every six months,daily,multiple times,NaN,NaN,NaN
27,2022-08-02 14:16:10,28,23,male,Abitur,student,4,daily,daily,multiple times,NaN,NaN,NaN
28,2022-08-02 15:59:17,29,23,female,Abitur,student,3,daily,daily,multiple times,NaN,NaN,NaN
29,2022-08-02 17:23:01,30,21,male,Abgeschlossene Ausbildung,self-employed,4,almost never,daily,multiple times,NaN,NaN,NaN
30,2022-08-02 18:26:57,31,23,female,Abitur,student,1,almost never,daily,multiple times,NaN,NaN,NaN

In [10]:
demographic_data = demographic_data[['Age', 'Gender', 'Degree', 'Occupation', 'Good with computers', 'Use a computer mouse', 'Use a computer', 'Previously noticed latency']]
demographic_data

,Age,Gender,Degree,Occupation,Good with computers,Use a computer mouse,Use a computer,Previously noticed latency
0,21,female,Abitur,student,4,daily,daily,multiple times
1,24,male,Abitur,student,5,daily,daily,multiple times
2,24,female,Bachelor,student,4,every six months,daily,multiple times
3,19,female,Abitur,student,3,daily,daily,once
4,23,male,Abitur,student,5,daily,daily,multiple times
5,23,female,Abitur,student,4,almost never,daily,never
6,22,male,Bachelor,student,3,daily,daily,multiple times
7,22,male,Abitur,student,5,daily,daily,multiple times
8,23,male,Bachelor,student,4,daily,daily,once
9,20,male,Abitur,student,4,daily,daily,multiple times
10,21,male,Abitur,student,4,daily,daily,multiple times
11,22,female,Abitur,student,3,almost never,weekly,once
12,27,female,Abitur,student,4,monthly,weekly,multiple times
13,22,male,Bachelor,student,4,daily,daily,multiple times
14,28,male,Master/Diplom,self-employed,4,daily,daily,multiple times
15,25,male,Bachelor,employed,5,daily,daily,multiple times
16,22,female,Abgeschlossene Ausbildung,employed,4,monthly,weekly,multiple times
17,22,male,Abitur,student,4,daily,daily,multiple times
18,21,female,Abitur,student,4,monthly,daily,multiple times
19,22,female,Abitur,student,4,every six months,daily,multiple times
20,22,male,Abitur,student,3,daily,daily,multiple times
21,23,male,Abitur,student,5,daily,daily,multiple times
22,22,male,Abitur,student,4,daily,daily,multiple times
23,22,male,Abgeschlossene Ausbildung,student,5,daily,daily,multiple times
24,21,male,Abitur,student,5,daily,daily,multiple times
25,22,male,Bachelor,student,4,daily,daily,multiple times
26,22,female,Abitur,student,3,every six months,daily,multiple times
27,23,male,Abitur,student,4,daily,daily,multiple times
28,23,female,Abitur,student,3,daily,daily,multiple times
29,21,male,Abgeschlossene Ausbildung,self-employed,4,almost never,daily,multiple times
30,23,female,Abitur,student,1,almost never,daily,multiple times

In [11]:
demographic_data.describe()

             Age  Good with computers
count  31.000000            31.000000
mean   22.483871             3.935484
std     1.786448             0.853834
min    19.000000             1.000000
25%    22.000000             4.000000
50%    22.000000             4.000000
75%    23.000000             4.000000
max    28.000000             5.000000

# Questionnaire Answers

In [71]:
raw_questionnaire_data = pd.read_excel('./Questionnaire/Questionnaire Results.xlsx', sheet_name='Questionnaires')
raw_questionnaire_data

,Timestamp,Latency,ID,How many,Enjoyed,Caused,Lateness,Over-Anticipate,Wrong Distance,Wrong Orientation,Jitter,Jumps,Spring effect,Stick
0,2022-07-27 13:02:57,16.67,1,0,3,4,3,4,3,4,4,4,4,4
1,2022-07-27 13:03:56,-50.00,1,1,5,5,1,1,1,1,1,1,1,1
2,2022-07-27 13:04:39,-16.67,1,2,5,1,1,1,1,1,1,1,1,1
3,2022-07-27 13:06:03,50.00,1,3,4,4,5,1,4,1,1,1,1,1
4,2022-07-27 13:07:20,-16.67,1,4,4,4,4,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,2022-08-02 19:57:11,-50.00,31,30,4,3,1,4,4,2,3,2,5,3
1082,2022-08-02 19:58:46,16.67,31,31,5,2,1,2,2,1,1,2,2,4
1083,2022-08-02 20:01:32,50.00,31,32,4,4,2,4,5,2,2,3,2,4
1084,2022-08-02 20:03:01,16.67,31,33,3,4,2,4,5,1,1,1,1,1
1085,2022-08-02 20:05:27,-50.00,31,34,4,2,2,4,5,4,2,2,2,2

In [72]:
mean_questionnaire_data = raw_questionnaire_data.drop('Timestamp', axis=1)
mean_questionnaire_data

,Latency,ID,How many,Enjoyed,Caused,Lateness,Over-Anticipate,Wrong Distance,Wrong Orientation,Jitter,Jumps,Spring effect,Stick
0,16.67,1,0,3,4,3,4,3,4,4,4,4,4
1,-50.00,1,1,5,5,1,1,1,1,1,1,1,1
2,-16.67,1,2,5,1,1,1,1,1,1,1,1,1
3,50.00,1,3,4,4,5,1,4,1,1,1,1,1
4,-16.67,1,4,4,4,4,3,3,3,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,-50.00,31,30,4,3,1,4,4,2,3,2,5,3
1082,16.67,31,31,5,2,1,2,2,1,1,2,2,4
1083,50.00,31,32,4,4,2,4,5,2,2,3,2,4
1084,16.67,31,33,3,4,2,4,5,1,1,1,1,1
1085,-50.00,31,34,4,2,2,4,5,4,2,2,2,2

In [73]:
unique_ids = mean_questionnaire_data['ID'].unique()
unique_ids

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31],
      dtype=int64)

In [6]:
unique_latencies = mean_questionnaire_data['Latency'].unique()
unique_latencies

array([ 16.67, -50.  , -16.67,  50.  ,   0.  ])

In [74]:
mean_values = []
for curr_id in unique_ids:
    for curr_lat in unique_latencies:
        curr = mean_questionnaire_data[(mean_questionnaire_data['ID'] == curr_id) & (mean_questionnaire_data['Latency'] == curr_lat)]
        curr = curr.mean(axis=0)
        mean_values.append([curr_id, curr_lat, curr['Enjoyed'], curr['Caused'], curr['Lateness'], curr['Over-Anticipate'], curr['Wrong Distance'], curr['Wrong Orientation'], curr['Jitter'], curr['Jumps'], curr['Spring effect'], curr['Stick']])
mean_values = pd.DataFrame(mean_values, columns=['ID', 'Latency', 'Enjoyed', 'Caused the Movements', 'Lateness', 'Over-Anticipation', 'Wrong Distance', 'Wrong Orientation', 'Jitter', 'Jumps', 'Spring Effect', 'Stick'])
mean_values

,ID,Latency,Enjoyed,Caused the Movements,Lateness,Over-Anticipation,Wrong Distance,Wrong Orientation,Jitter,Jumps,Spring Effect,Stick
0,1,50.00,3.333333,3.333333,2.666667,2.000000,2.500000,2.000000,3.000000,3.000000,3.000000,1.833333
1,1,16.67,3.571429,3.571429,2.428571,2.428571,2.571429,2.714286,3.142857,3.142857,3.142857,2.714286
2,1,0.00,4.142857,3.571429,2.000000,2.142857,1.857143,1.857143,2.571429,2.714286,2.571429,1.857143
3,1,-16.67,4.285714,3.714286,1.714286,1.714286,1.857143,1.714286,2.571429,2.571429,2.285714,2.142857
4,1,-50.00,4.250000,3.875000,1.250000,1.250000,1.375000,1.375000,2.375000,2.500000,2.125000,1.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
150,31,50.00,3.750000,3.375000,2.250000,4.000000,4.500000,2.625000,3.375000,3.750000,3.750000,4.375000
151,31,16.67,3.666667,3.500000,1.666667,3.166667,4.000000,2.000000,2.333333,2.833333,2.833333,2.833333
152,31,0.00,4.000000,3.428571,2.714286,3.285714,4.714286,3.285714,3.142857,4.000000,4.000000,3.285714
153,31,-16.67,4.000000,3.833333,2.666667,3.166667,4.166667,2.500000,2.833333,3.666667,3.333333,3.166667
154,31,-50.00,3.750000,2.875000,2.125000,3.750000,3.875000,2.125000,2.750000,3.375000,3.875000,2.125000

In [75]:
mean_values.mean(axis=0)

ID                      16.000000
Latency                  0.000000
Enjoyed                  3.374521
Caused the Movements     3.198144
Lateness                 2.443848
Over-Anticipation        3.004112
Wrong Distance           2.814478
Wrong Orientation        2.244626
Jitter                   2.824828
Jumps                    3.046278
Spring Effect            2.644076
Stick                    1.931011
dtype: float64

In [76]:
mean_values.std(axis=0)

ID                       8.973265
Latency                 33.442052
Enjoyed                  0.829892
Caused the Movements     0.838389
Lateness                 0.772863
Over-Anticipation        0.846865
Wrong Distance           0.803542
Wrong Orientation        0.769460
Jitter                   0.910606
Jumps                    0.848337
Spring Effect            1.039480
Stick                    0.936038
dtype: float64

In [77]:
print('50ms:')
print(mean_values[mean_values['Latency'] == 50].mean(axis=0))
print('16.67ms:')
print(mean_values[mean_values['Latency'] == 16.67].mean(axis=0))
print('0ms:')
print(mean_values[mean_values['Latency'] == 0].mean(axis=0))
print('-16.67ms:')
print(mean_values[mean_values['Latency'] == -16.67].mean(axis=0))
print('-50ms:')
print(mean_values[mean_values['Latency'] == -50].mean(axis=0))

50ms:
ID                      16.000000
Latency                 50.000000
Enjoyed                  3.350256
Caused the Movements     3.138569
Lateness                 2.632028
Over-Anticipation        2.927394
Wrong Distance           2.851306
Wrong Orientation        2.258461
Jitter                   2.968881
Jumps                    2.988761
Spring Effect            2.653789
Stick                    2.005287
dtype: float64
16.67ms:
ID                      16.000000
Latency                 16.670000
Enjoyed                  3.256720
Caused the Movements     3.151498
Lateness                 2.519009
Over-Anticipation        2.905338
Wrong Distance           2.814708
Wrong Orientation        2.314132
Jitter                   2.884601
Jumps                    3.060292
Spring Effect            2.716206
Stick                    1.957757
dtype: float64
0ms:
ID                      16.000000
Latency                  0.000000
Enjoyed                  3.438479
Caused the Movements     3.295276
Lateness                 2.404378
Over-Anticipation        2.966590
Wrong Distance           2.747350
Wrong Orientation        2.234101
Jitter                   2.674194
Jumps                    2.992396
Spring Effect            2.623387
Stick                    1.950000
dtype: float64
-16.67ms:
ID                      16.000000
Latency                -16.670000
Enjoyed                  3.545699
Caused the Movements     3.346390
Lateness                 2.383065
Over-Anticipation        2.934716
Wrong Distance           2.732527
Wrong Orientation        2.135561
Jitter                   2.739439
Jumps                    3.066436
Spring Effect            2.537250
Stick                    1.824501
dtype: float64
-50ms:
ID                      16.000000
Latency                -50.000000
Enjoyed                  3.281452
Caused the Movements     3.058986
Lateness                 2.280760
Over-Anticipation        3.286521
Wrong Distance           2.926498
Wrong Orientation        2.280876
Jitter                   2.857028
Jumps                    3.123502
Spring Effect            2.689747
Stick                    1.917512
dtype: float64

In [78]:
print('50ms:')
print(mean_values[mean_values['Latency'] == 50].std(axis=0))
print('16.67ms:')
print(mean_values[mean_values['Latency'] == 16.67].std(axis=0))
print('0ms:')
print(mean_values[mean_values['Latency'] == 0].std(axis=0))
print('-16.67ms:')
print(mean_values[mean_values['Latency'] == -16.67].std(axis=0))
print('-50ms:')
print(mean_values[mean_values['Latency'] == -50].std(axis=0))

50ms:
ID                      9.092121
Latency                 0.000000
Enjoyed                 0.816085
Caused the Movements    0.918757
Lateness                0.811119
Over-Anticipation       0.955142
Wrong Distance          0.910901
Wrong Orientation       0.781270
Jitter                  0.930473
Jumps                   0.864606
Spring Effect           1.070497
Stick                   1.005061
dtype: float64
16.67ms:
ID                      9.092121e+00
Latency                 7.222880e-15
Enjoyed                 8.348579e-01
Caused the Movements    8.042044e-01
Lateness                8.326307e-01
Over-Anticipation       8.336017e-01
Wrong Distance          8.075983e-01
Wrong Orientation       8.564298e-01
Jitter                  9.966363e-01
Jumps                   8.952544e-01
Spring Effect           1.053214e+00
Stick                   1.028868e+00
dtype: float64
0ms:
ID                      9.092121
Latency                 0.000000
Enjoyed                 0.776120
Caused the Movements    0.794204
Lateness                0.732818
Over-Anticipation       0.810063
Wrong Distance          0.768234
Wrong Orientation       0.787052
Jitter                  0.797039
Jumps                   0.883112
Spring Effect           0.950358
Stick                   0.956938
dtype: float64
-16.67ms:
ID                      9.092121e+00
Latency                 7.222880e-15
Enjoyed                 7.932187e-01
Caused the Movements    8.140127e-01
Lateness                7.345578e-01
Over-Anticipation       7.094271e-01
Wrong Distance          7.648488e-01
Wrong Orientation       6.701911e-01
Jitter                  9.404808e-01
Jumps                   7.671063e-01
Spring Effect           1.061536e+00
Stick                   8.260336e-01
dtype: float64
-50ms:
ID                      9.092121
Latency                 0.000000
Enjoyed                 0.939407
Caused the Movements    0.874973
Lateness                0.750402
Over-Anticipation       0.899911
Wrong Distance          0.794603
Wrong Orientation       0.779662
Jitter                  0.905840
Jumps                   0.873938
Spring Effect           1.114241
Stick                   0.901196
dtype: float64

In [79]:
mean_questionnaire_data = deepcopy(mean_values)

In [11]:
os.chdir(base_path)
mean_questionnaire_data.to_csv('./questionnaire_data_prepared.csv', sep=';')

In [80]:
mean_questionnaire_data

,ID,Latency,Enjoyed,Caused the Movements,Lateness,Over-Anticipation,Wrong Distance,Wrong Orientation,Jitter,Jumps,Spring Effect,Stick
0,1,50.00,3.333333,3.333333,2.666667,2.000000,2.500000,2.000000,3.000000,3.000000,3.000000,1.833333
1,1,16.67,3.571429,3.571429,2.428571,2.428571,2.571429,2.714286,3.142857,3.142857,3.142857,2.714286
2,1,0.00,4.142857,3.571429,2.000000,2.142857,1.857143,1.857143,2.571429,2.714286,2.571429,1.857143
3,1,-16.67,4.285714,3.714286,1.714286,1.714286,1.857143,1.714286,2.571429,2.571429,2.285714,2.142857
4,1,-50.00,4.250000,3.875000,1.250000,1.250000,1.375000,1.375000,2.375000,2.500000,2.125000,1.250000
...,...,...,...,...,...,...,...,...,...,...,...,...
150,31,50.00,3.750000,3.375000,2.250000,4.000000,4.500000,2.625000,3.375000,3.750000,3.750000,4.375000
151,31,16.67,3.666667,3.500000,1.666667,3.166667,4.000000,2.000000,2.333333,2.833333,2.833333,2.833333
152,31,0.00,4.000000,3.428571,2.714286,3.285714,4.714286,3.285714,3.142857,4.000000,4.000000,3.285714
153,31,-16.67,4.000000,3.833333,2.666667,3.166667,4.166667,2.500000,2.833333,3.666667,3.333333,3.166667
154,31,-50.00,3.750000,2.875000,2.125000,3.750000,3.875000,2.125000,2.750000,3.375000,3.875000,2.125000

# Throughput

In [7]:
os.chdir(base_path + '/MT')

In [8]:
raw_mt_data = []
for f in os.listdir():
    part_id = f.split("_")[1].split(".")[0]

    curr = pd.read_csv(f, sep=";")
    curr["part_id"] = part_id

    curr = curr[['part_id', 'compensation', 'width', 'length', 'MT']]
    raw_mt_data.append(curr)

raw_mt_data = pd.concat(raw_mt_data)
raw_mt_data

    part_id  compensation  width  length   MT
0        10           100     57     603   -1
1        10           100     57     603  202
2        10           100     45     905   -1
3        10           100     45     905   -1
4        10           100     45     905  317
..      ...           ...    ...     ...  ...
562       9             0     45    1207  368
563       9             0     79     603  211
564       9             0     45     905   -1
565       9             0     45     905  305
566       9             0     45     905  305

[18540 rows x 5 columns]

In [15]:
raw_mt_data.describe()

       compensation         width        length            MT
count  18540.000000  18540.000000  18540.000000  18540.000000
mean      50.304369     64.224703    797.898706    449.013323
std       33.842829     23.039117    337.067559    951.909639
min        0.000000     34.000000    302.000000     -1.000000
25%       33.000000     45.000000    603.000000     -1.000000
50%       50.000000     68.000000    905.000000    169.000000
75%       67.000000     79.000000   1207.000000    482.000000
max      100.000000    102.000000   1207.000000  24358.000000

In [9]:
raw_mt_data['compensation'].replace(0, 1000, inplace=True)
raw_mt_data['compensation'].replace(33, 16.67, inplace=True)
raw_mt_data['compensation'].replace(50, 0, inplace=True) # SHIT!
raw_mt_data['compensation'].replace(67, -16.67, inplace=True)
raw_mt_data['compensation'].replace(100, -50, inplace=True)
raw_mt_data['compensation'].replace(1000, 50, inplace=True)

In [10]:
raw_mt_data['ID'] = raw_mt_data['length'] / raw_mt_data['width']

In [11]:
tp_data = raw_mt_data[raw_mt_data['MT'] != -1]
tp_data.describe()

       compensation         width        length            MT            ID
count  13105.000000  13105.000000  13105.000000  13105.000000  13105.000000
mean       0.067400     68.045250    755.205570    635.646089     12.627105
std       33.252113     22.549769    337.312507   1078.485107      7.743888
min      -50.000000     34.000000    302.000000     16.000000      2.960784
25%      -16.670000     45.000000    603.000000    148.000000      6.700000
50%        0.000000     68.000000    905.000000    317.000000     11.455696
75%       16.670000     90.000000   1207.000000    674.000000     15.877193
max       50.000000    102.000000   1207.000000  24358.000000     35.500000

In [12]:
tp_data = deepcopy(tp_data)

In [15]:
tp_data['MT'] = tp_data['MT']/1000

In [16]:
tp_data

    part_id  compensation  width  length     MT         ID
1        10         -50.0     57     603  0.202  10.578947
4        10         -50.0     45     905  0.317  20.111111
5        10         -50.0     90     905  0.117  10.055556
6        10         -50.0     57    1207  0.282  21.175439
9        10         -50.0     45     905  0.114  20.111111
..      ...           ...    ...     ...    ...        ...
561       9          50.0     68     905  0.311  13.308824
562       9          50.0     45    1207  0.368  26.822222
563       9          50.0     79     603  0.211   7.632911
565       9          50.0     45     905  0.305  20.111111
566       9          50.0     45     905  0.305  20.111111

[13105 rows x 6 columns]

In [17]:
unique_ids = tp_data['part_id'].unique()
unique_latencies = tp_data['compensation'].unique()

In [19]:
tp_arr = []
for curr_id in unique_ids:
    for curr_lat in unique_latencies:
        ids = tp_data[(tp_data['part_id'] == curr_id) & (tp_data['compensation'] == curr_lat)]['ID']
        mts = tp_data[(tp_data['part_id'] == curr_id) & (tp_data['compensation'] == curr_lat)]['MT']
        throughput = ids / mts
        throughput = throughput.mean()
        tp_arr.append([curr_id, curr_lat, throughput])

tp_arr = pd.DataFrame(tp_arr, columns=('ID', 'Latency', 'Throughput'))
tp_arr.head()

   ID  Latency  Throughput
0  10   -50.00  138.452454
1  10     0.00   76.915987
2  10   -16.67   78.453389
3  10    50.00   51.951731
4  10    16.67   62.961283

In [24]:
print(tp_arr['Throughput'].mean())
print(tp_arr['Throughput'].std())

54.58782243297422
39.814544707802696

In [20]:
print(tp_arr[tp_arr['Latency'] == 50]['Throughput'].mean())
print(tp_arr[tp_arr['Latency'] == 16.67]['Throughput'].mean())
print(tp_arr[tp_arr['Latency'] == 0]['Throughput'].mean())
print(tp_arr[tp_arr['Latency'] == -16.67]['Throughput'].mean())
print(tp_arr[tp_arr['Latency'] == -50]['Throughput'].mean())

41.78937493501671
46.73666466420767
50.4489379159
58.08527133040041
75.87886331934637

In [25]:
print(tp_arr[tp_arr['Latency'] == 50]['Throughput'].std())
print(tp_arr[tp_arr['Latency'] == 16.67]['Throughput'].std())
print(tp_arr[tp_arr['Latency'] == 0]['Throughput'].std())
print(tp_arr[tp_arr['Latency'] == -16.67]['Throughput'].std())
print(tp_arr[tp_arr['Latency'] == -50]['Throughput'].std())

29.79017875452183
31.442552615322242
32.66506085823905
39.82082448587155
53.63618974541387

In [21]:
tp_data = deepcopy(tp_arr)

In [22]:
os.chdir(base_path)
tp_data.to_csv('./tp_data_prepared_2.csv', sep=';')

# Errors

In [45]:
raw_mt_data['part_id'] = raw_mt_data['part_id'].astype(float)
raw_mt_data

     part_id  compensation  width  length   MT         ID
0       10.0         -50.0     57     603   -1  10.578947
1       10.0         -50.0     57     603  202  10.578947
2       10.0         -50.0     45     905   -1  20.111111
3       10.0         -50.0     45     905   -1  20.111111
4       10.0         -50.0     45     905  317  20.111111
..       ...           ...    ...     ...  ...        ...
562      9.0          50.0     45    1207  368  26.822222
563      9.0          50.0     79     603  211   7.632911
564      9.0          50.0     45     905   -1  20.111111
565      9.0          50.0     45     905  305  20.111111
566      9.0          50.0     45     905  305  20.111111

[18540 rows x 6 columns]

In [43]:
error_data = raw_mt_data[raw_mt_data['MT'] == -1]
error_data.describe()

,part_id,compensation,width,length,MT,ID
count,5435.000000,5435.000000,5435.000000,5435.000000,5435.0,5435.000000
mean,16.274149,-1.205098,55.012511,900.841398,-1.0,18.933027
std,9.349012,35.003966,21.554901,313.436112,0.0,9.674135
min,1.000000,-50.000000,34.000000,302.000000,-1.0,2.960784
25%,8.000000,-16.670000,34.000000,603.000000,-1.0,11.455696
50%,16.000000,0.000000,45.000000,905.000000,-1.0,17.735294
75%,25.000000,16.670000,68.000000,1207.000000,-1.0,26.617647
max,31.000000,50.000000,102.000000,1207.000000,-1.0,35.500000

In [29]:
error_data

     part_id  compensation  width  length  MT         ID
0       10.0         -50.0     57     603  -1  10.578947
2       10.0         -50.0     45     905  -1  20.111111
3       10.0         -50.0     45     905  -1  20.111111
7       10.0         -50.0     45     905  -1  20.111111
8       10.0         -50.0     45     905  -1  20.111111
..       ...           ...    ...     ...  ..        ...
511      9.0          50.0     34    1207  -1  35.500000
512      9.0          50.0     34    1207  -1  35.500000
516      9.0         -50.0     68     302  -1   4.441176
523      9.0         -50.0     90    1207  -1  13.411111
564      9.0          50.0     45     905  -1  20.111111

[5435 rows x 6 columns]

In [30]:
error_data['part_id'] = error_data['part_id'].astype(float)

C:\Users\ragor\AppData\Local\Temp\ipykernel_24972\3809666838.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error_data['part_id'] = error_data['part_id'].astype(float)

In [32]:
error_data[error_data['part_id'] == 1]

     part_id  compensation  width  length  MT         ID
1        1.0         16.67     90    1207  -1  13.411111
3        1.0         16.67     90     603  -1   6.700000
4        1.0         16.67     90     603  -1   6.700000
6        1.0         16.67     45     905  -1  20.111111
7        1.0         16.67     45     905  -1  20.111111
..       ...           ...    ...     ...  ..        ...
254      1.0          0.00     57    1207  -1  21.175439
261      1.0         50.00     34     905  -1  26.617647
281      1.0        -16.67     34     603  -1  17.735294
282      1.0        -16.67     34     603  -1  17.735294
288      1.0        -16.67     57    1207  -1  21.175439

[97 rows x 6 columns]

In [34]:
unique_ids = error_data['part_id'].unique()
unique_ids

array([10., 11., 12., 13., 14., 15., 16., 17., 18., 19.,  1.,  2., 20.,
       21., 22., 23., 24., 25., 26., 27., 28., 29., 30., 31.,  3.,  4.,
        5.,  6.,  7.,  8.,  9.])

In [35]:
error_arr = []
for curr_id in unique_ids:
    curr = error_data[error_data['part_id'] == curr_id]['MT'].count()
    error_arr.append([curr_id, curr])
error_arr = pd.DataFrame(error_arr, columns=('ID', 'Errors'))
error_arr

      ID  Errors
0   10.0      96
1   11.0     104
2   12.0     206
3   13.0     252
4   14.0     144
5   15.0     225
6   16.0     154
7   17.0     116
8   18.0     276
9   19.0     124
10   1.0      97
11   2.0      77
12  20.0     180
13  21.0     203
14  22.0      97
15  23.0     121
16  24.0     105
17  25.0     150
18  26.0     220
19  27.0     201
20  28.0     263
21  29.0     215
22  30.0     170
23  31.0     241
24   3.0     657
25   4.0     144
26   5.0      68
27   6.0     146
28   7.0     145
29   8.0      91
30   9.0     147

In [ ]:
unique_difficulties = error_data['ID'].unique()

In [46]:
error_arr = []
for curr_id in unique_ids:
    for curr_diff in unique_difficulties:
        curr = error_data[(error_data['part_id'] == curr_id) & (error_data['ID'] == curr_diff)]['MT'].count() / raw_mt_data[(raw_mt_data['part_id'] == curr_id) & (raw_mt_data['ID'] == curr_diff)]['MT'].count()
        error_arr.append([curr_id, curr_diff, curr])

error_arr = pd.DataFrame(error_arr, columns=('ID', 'Difficulty', 'Errors'))
error_arr

       ID  Difficulty    Errors
0    10.0   10.578947  0.062500
1    10.0   20.111111  0.558824
2    10.0   17.735294  0.375000
3    10.0   17.750000  0.210526
4    10.0    8.872549  0.117647
..    ...         ...       ...
863   9.0   11.833333  0.285714
864   9.0    7.632911  0.062500
865   9.0    3.355556  0.000000
866   9.0    6.711111  0.117647
867   9.0    3.822785  0.117647

[868 rows x 3 columns]

In [47]:
errors_per_id = []
for curr_diff in unique_difficulties:
    curr_mean = error_arr[error_arr['Difficulty'] == curr_diff]['Errors'].mean()
    curr_std = error_arr[error_arr['Difficulty'] == curr_diff]['Errors'].std()
    errors_per_id.append([curr_diff, curr_mean, curr_std])

errors_per_id = pd.DataFrame(errors_per_id, columns=('Difficulty', 'Mean Errors', 'SD'))
errors_per_id

    Difficulty  Mean Errors        SD
0    10.578947     0.182527  0.124673
1    20.111111     0.323522  0.191287
2    17.735294     0.397764  0.158125
3    17.750000     0.275943  0.137958
4     8.872549     0.131589  0.106031
5    35.500000     0.592955  0.161967
6     2.960784     0.083982  0.098559
7     5.298246     0.153262  0.122082
8    11.455696     0.193573  0.122647
9     5.911765     0.097818  0.089474
10   13.411111     0.198461  0.122071
11   21.175439     0.328136  0.151062
12   26.822222     0.426647  0.134572
13   26.617647     0.471229  0.134622
14   15.278481     0.258800  0.152514
15   15.877193     0.273760  0.130693
16    8.882353     0.247862  0.096123
17    6.700000     0.139640  0.099837
18   10.055556     0.209750  0.118573
19   13.308824     0.238256  0.148715
20   13.400000     0.252133  0.148561
21    8.867647     0.159523  0.141643
22    4.441176     0.119011  0.117054
23   11.833333     0.206773  0.113509
24    7.632911     0.136826  0.105297
25    3.355556     0.078604  0.095595
26    6.711111     0.216225  0.143495
27    3.822785     0.118517  0.106455

In [60]:
errors_per_id[errors_per_id['Mean Errors'] == errors_per_id['Mean Errors'].min()]

    Difficulty  Mean Errors        SD
25    3.355556     0.078604  0.095595

In [61]:
errors_per_id[errors_per_id['Mean Errors'] == errors_per_id['Mean Errors'].max()]

   Difficulty  Mean Errors        SD
5        35.5     0.592955  0.161967

In [48]:
error_arr = []
for curr_id in unique_ids:
    for curr_lat in unique_latencies:
        curr = error_data[(error_data['part_id'] == curr_id) & (error_data['compensation'] == curr_lat)]['MT'].count() / raw_mt_data[(raw_mt_data['part_id'] == curr_id) & (raw_mt_data['compensation'] == curr_lat)]['MT'].count()
        error_arr.append([curr_id, curr_lat, curr])

error_arr = pd.DataFrame(error_arr, columns=('ID', 'Latency', 'Errors'))
error_arr

       ID  Latency    Errors
0    10.0   -50.00  0.256637
1    10.0     0.00  0.160000
2    10.0   -16.67  0.168317
3    10.0    50.00  0.184466
4    10.0    16.67  0.151515
..    ...      ...       ...
150   9.0   -50.00  0.305785
151   9.0     0.00  0.343750
152   9.0   -16.67  0.222222
153   9.0    50.00  0.184466
154   9.0    16.67  0.214953

[155 rows x 3 columns]

In [49]:
error_data = deepcopy(error_arr)

In [50]:
os.chdir(base_path)
error_data.to_csv('./errors_per_latency_prepared_2.csv', sep=';')

In [56]:
print(error_data['Errors'].mean())
print(error_data['Errors'].std())

0.2695473087801142
0.11427906414158351

In [54]:
print(error_data[error_data['Latency'] == 50]['Errors'].mean())
print(error_data[error_data['Latency'] == 16.67]['Errors'].mean())
print(error_data[error_data['Latency'] == 0]['Errors'].mean())
print(error_data[error_data['Latency'] == -16.67]['Errors'].mean())
print(error_data[error_data['Latency'] == -50]['Errors'].mean())

0.2713848830702462
0.25710524152026404
0.2568972006528823
0.2435894489160624
0.3187597697411165

In [55]:
print(error_data[error_data['Latency'] == 50]['Errors'].std())
print(error_data[error_data['Latency'] == 16.67]['Errors'].std())
print(error_data[error_data['Latency'] == 0]['Errors'].std())
print(error_data[error_data['Latency'] == -16.67]['Errors'].std())
print(error_data[error_data['Latency'] == -50]['Errors'].std())

0.12141546917433824
0.1272820314288935
0.10363110031368851
0.09832293959089795
0.11028553611880804

# Prepare for SPSS

In [62]:
unique_latencies.sort()
unique_latencies = np.flip(unique_latencies)

In [64]:
unique_ids = unique_ids.astype(np.float)
unique_ids.sort()
unique_ids

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31.])

In [66]:
tp_data['ID'] = tp_data['ID'].astype(float)
error_data['ID'] = error_data['ID'].astype(float)
mean_questionnaire_data['ID'] = mean_questionnaire_data['ID'].astype(float)

In [67]:
tp_data.head()

     ID  Latency  Throughput
0  10.0   -50.00  138.452454
1  10.0     0.00   76.915987
2  10.0   -16.67   78.453389
3  10.0    50.00   51.951731
4  10.0    16.67   62.961283

In [81]:
spss_data = []

for curr_id in unique_ids:
    curr_questionnaire = mean_questionnaire_data[mean_questionnaire_data['ID'] == curr_id]
    curr_tp = tp_data[tp_data['ID'] == curr_id]
    curr_error = error_data[error_data['ID'] == curr_id]

    curr_data = [curr_id]
    for curr_lat in unique_latencies:
        curr_data.append(curr_tp[curr_tp['Latency'] == curr_lat]['Throughput'].values[0])

        curr_data.append(curr_error[curr_error['Latency'] == curr_lat]['Errors'].values[0])

        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Enjoyed'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Caused the Movements'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Lateness'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Over-Anticipation'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Wrong Distance'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Wrong Orientation'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Jitter'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Jumps'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Spring Effect'].values[0])
        curr_data.append(curr_questionnaire[curr_questionnaire['Latency'] == curr_lat]['Stick'].values[0])
    spss_data.append(curr_data)

spss_data = pd.DataFrame(spss_data, columns=('ID', 'TP_50', 'Errors_50', 'Enjoyment_50', 'Caused_50', 'Lateness_50', 'OverAnticipation_50', 'WrongDistance_50', 'WrongOrientation_50', 'Jitter_50', 'Jumps_50', 'Spring_50', 'Stick_50', 'TP_16', 'Errors_16', 'Enjoyment_16', 'Caused_16', 'Lateness_16', 'OverAnticipation_16', 'WrongDistance_16', 'WrongOrientation_16', 'Jitter_16', 'Jumps_16', 'Spring_16', 'Stick_16', 'TP_0', 'Errors_0', 'Enjoyment_0', 'Caused_0', 'Lateness_0', 'OverAnticipation_0', 'WrongDistance_0', 'WrongOrientation_0', 'Jitter_0', 'Jumps_0', 'Spring_0', 'Stick_0', 'TP_n16', 'Errors_n16', 'Enjoyment_n16', 'Caused_n16', 'Lateness_n16', 'OverAnticipation_n16', 'WrongDistance_n16', 'WrongOrientation_n16', 'Jitter_n16', 'Jumps_n16', 'Spring_n16', 'Stick_n16', 'TP_n50', 'Errors_n50', 'Enjoyment_n50', 'Caused_n50', 'Lateness_n50', 'OverAnticipation_n50', 'WrongDistance_n50', 'WrongOrientation_n50', 'Jitter_n50', 'Jumps_n50', 'Spring_n50', 'Stick_n50'))

In [82]:
spss_data.head()

,ID,TP_50,Errors_50,Enjoyment_50,Caused_50,Lateness_50,OverAnticipation_50,WrongDistance_50,WrongOrientation_50,Jitter_50,...,Enjoyment_n50,Caused_n50,Lateness_n50,OverAnticipation_n50,WrongDistance_n50,WrongOrientation_n50,Jitter_n50,Jumps_n50,Spring_n50,Stick_n50
0,1,138.296923,0.176471,3.333333,3.333333,2.666667,2.000000,2.500000,2.000000,3.000000,...,4.250000,3.875000,1.250000,1.250000,1.375000,1.375000,2.375000,2.500000,2.125000,1.250000
1,2,26.393435,0.222222,3.428571,3.285714,1.857143,2.285714,2.285714,2.142857,2.857143,...,3.571429,3.142857,2.000000,3.428571,2.857143,2.000000,3.285714,3.714286,3.428571,2.000000
2,3,23.571091,0.659574,3.888889,3.444444,3.333333,3.777778,3.333333,3.444444,3.888889,...,4.000000,4.000000,3.200000,3.800000,3.600000,3.600000,3.200000,2.800000,3.200000,2.800000
3,4,23.471787,0.440000,3.285714,3.714286,3.000000,3.000000,3.285714,2.285714,3.142857,...,2.714286,3.428571,3.428571,3.714286,3.714286,2.142857,4.285714,3.714286,3.714286,1.285714
4,5,35.789925,0.214953,2.142857,2.428571,4.714286,2.714286,3.714286,1.428571,3.285714,...,3.000000,3.000000,1.857143,3.714286,3.000000,1.285714,2.142857,3.857143,2.428571,1.428571

In [83]:
os.chdir(base_path)
spss_data.to_csv('./for_spss_2.csv', sep=';')

# MT vs ID on Latency

In [65]:
mt_data = raw_mt_data[raw_mt_data['MT'] != -1]
mt_data['MT'] = mt_data['MT'] / 1000
mt_data

C:\Users\ragor\AppData\Local\Temp\ipykernel_24972\3050960439.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_data['MT'] = mt_data['MT'] / 1000

     part_id  compensation  width  length     MT         ID
1       10.0         -50.0     57     603  0.202  10.578947
4       10.0         -50.0     45     905  0.317  20.111111
5       10.0         -50.0     90     905  0.117  10.055556
6       10.0         -50.0     57    1207  0.282  21.175439
9       10.0         -50.0     45     905  0.114  20.111111
..       ...           ...    ...     ...    ...        ...
561      9.0          50.0     68     905  0.311  13.308824
562      9.0          50.0     45    1207  0.368  26.822222
563      9.0          50.0     79     603  0.211   7.632911
565      9.0          50.0     45     905  0.305  20.111111
566      9.0          50.0     45     905  0.305  20.111111

[13105 rows x 6 columns]

In [48]:
print(f"M = {mt_data['MT'].mean()}, SD = {mt_data['MT'].std()}")

M = 635.6460892789012, SD = 1078.4851065466285

In [49]:
mt_data = mt_data[['part_id', 'compensation', 'ID', 'MT']]
mt_data

    part_id  compensation         ID   MT
1        10         -50.0  10.578947  202
4        10         -50.0  20.111111  317
5        10         -50.0  10.055556  117
6        10         -50.0  21.175439  282
9        10         -50.0  20.111111  114
..      ...           ...        ...  ...
561       9          50.0  13.308824  311
562       9          50.0  26.822222  368
563       9          50.0   7.632911  211
565       9          50.0  20.111111  305
566       9          50.0  20.111111  305

[13105 rows x 4 columns]

In [50]:
unique_participants = mt_data['part_id'].unique()
unique_difficulties = mt_data['ID'].unique()
unique_latencies = mt_data['compensation'].unique()

In [54]:
unique_participants = unique_participants.astype(float)
unique_participants.sort()
unique_latencies.sort()
unique_difficulties.sort()

In [55]:
mt_data['part_id'] = mt_data['part_id'].astype(float)

C:\Users\ragor\AppData\Local\Temp\ipykernel_9880\928844.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mt_data['part_id'] = mt_data['part_id'].astype(float)

In [56]:
mt_arr = []

for curr_part in unique_participants:
    for curr_lat in unique_latencies:
        for curr_diff in unique_difficulties:
            mean_mt = mt_data[(mt_data['part_id'] == curr_part) & (mt_data['compensation'] == curr_lat) & (mt_data['ID'] == curr_diff)]['MT'].mean()
            # print(mean_mt)
            sd_mt = mt_data[(mt_data['part_id'] == curr_part) & (mt_data['compensation'] == curr_lat) & (mt_data['ID'] == curr_diff)]['MT'].std()
            mt_arr.append([curr_part, curr_lat, curr_diff, mean_mt, sd_mt])

mt_arr = pd.DataFrame(mt_arr, columns=('Participant', 'Latency', 'Difficulty', 'MT', 'SD'))

In [58]:
mt_arr.to_csv(base_path + '/mt_data_prepared_2.csv', sep=';')

In [59]:
mean_arr = []
for curr_lat in unique_latencies:
    for curr_diff in unique_difficulties:
        curr = mt_arr[(mt_arr['Latency'] == curr_lat) & (mt_arr['Difficulty'] == curr_diff)]['MT'].mean()
        curr_sd = mt_arr[(mt_arr['Latency'] == curr_lat) & (mt_arr['Difficulty'] == curr_diff)]['MT'].std()
        mean_arr.append([curr_lat, curr_diff, curr, curr_sd])

mean_arr = pd.DataFrame(mean_arr, columns=('Latency', 'Difficulty', 'Mean MT', 'SD MT'))
mean_arr

     Latency  Difficulty      Mean MT        SD MT
0      -50.0    2.960784   134.888710   104.658395
1      -50.0    3.355556   150.298387   154.807006
2      -50.0    3.822785   221.868280   208.466813
3      -50.0    4.441176   179.833333   159.889991
4      -50.0    5.298246   210.033333   179.335563
..       ...         ...          ...          ...
135     50.0   20.111111  1052.568817  1168.954705
136     50.0   21.175439  1283.453226  1176.933553
137     50.0   26.617647  1394.306452  1759.953332
138     50.0   26.822222  1329.432258  1453.158082
139     50.0   35.500000  1772.086022  2018.283622

[140 rows x 4 columns]

In [60]:
mean_arr.to_csv(base_path + '/mean_mts_prepared.csv', sep=';')

In [64]:
mean_per_id = []
for curr_diff in unique_difficulties:
    curr = mt_arr[(mt_arr['Difficulty'] == curr_diff)]['MT'].mean()
    curr_sd = mt_arr[(mt_arr['Difficulty'] == curr_diff)]['MT'].std()
    mean_per_id.append([curr_diff, curr, curr_sd])

mean_per_id = pd.DataFrame(mean_per_id, columns=('Difficulty', 'Mean MT', 'SD'))
mean_per_id

    Difficulty      Mean MT           SD
0     2.960784   170.812903   130.855220
1     3.355556   193.361935   176.225283
2     3.822785   196.911905   157.355223
3     4.441176   209.789827   196.398156
4     5.298246   268.571212   275.760088
5     5.911765   328.286129   249.749670
6     6.700000   346.396774   271.965616
7     6.711111   257.364839   296.966934
8     7.632911   384.065929   300.967582
9     8.867647   377.496296   334.745451
10    8.872549   530.132688   427.130156
11    8.882353   315.672807   339.981507
12   10.055556   611.707952   581.048741
13   10.578947   456.099032   407.096740
14   11.455696   653.903118   592.967647
15   11.833333   764.251183   596.305032
16   13.308824   670.113420   655.489967
17   13.400000   546.724134   536.864958
18   13.411111   863.060714   914.602949
19   15.278481   897.053871   828.220821
20   15.877193   760.476948   799.630260
21   17.735294   715.525272   808.408663
22   17.750000   894.372151   794.441751
23   20.111111   925.759140  1174.199319
24   21.175439  1166.042581  1192.920802
25   26.617647  1187.785823  1393.316293
26   26.822222  1332.035839  1359.348260
27   35.500000  1733.744516  1876.973536

In [65]:
mean_per_id.to_csv(base_path + '/mean_per_id.csv', sep=';')

In [67]:
mean_per_lat = []
for curr_lat in unique_latencies:
    curr = mt_arr[(mt_arr['Latency'] == curr_lat)]['MT'].mean()
    curr_sd = mt_arr[(mt_arr['Latency'] == curr_lat)]['MT'].std()
    mean_per_lat.append([curr_lat, curr, curr_sd])

mean_per_lat = pd.DataFrame(mean_per_lat, columns=('Latency', 'Mean MT', 'SD'))
mean_per_lat

   Latency     Mean MT          SD
0   -50.00  605.635889  900.535934
1   -16.67  612.184877  868.378783
2     0.00  631.249984  778.823041
3    16.67  632.715106  832.614861
4    50.00  689.556972  884.133498

In [40]:
spss_arr = []

for curr_part in unique_participants:
    curr_part_arr = [curr_part]
    for curr_lat in unique_latencies:
        for curr_diff in unique_difficulties:
            curr_part_arr.append(mt_arr[(mt_arr['Participant'] == curr_part) & (mt_arr['Latency'] == curr_lat) & (mt_arr['Difficulty'] == curr_diff)]['MT'].values[0])
    spss_arr.append(curr_part_arr)

spss_arr = pd.DataFrame(spss_arr, columns=('Particpiant', f'{unique_latencies[0]}_{unique_difficulties[0]}', f'{unique_latencies[0]}_{unique_difficulties[1]}', f'{unique_latencies[0]}_{unique_difficulties[2]}', f'{unique_latencies[0]}_{unique_difficulties[3]}', f'{unique_latencies[0]}_{unique_difficulties[4]}', f'{unique_latencies[0]}_{unique_difficulties[5]}', f'{unique_latencies[0]}_{unique_difficulties[6]}', f'{unique_latencies[0]}_{unique_difficulties[7]}', f'{unique_latencies[0]}_{unique_difficulties[8]}', f'{unique_latencies[0]}_{unique_difficulties[9]}', f'{unique_latencies[0]}_{unique_difficulties[10]}', f'{unique_latencies[0]}_{unique_difficulties[11]}', f'{unique_latencies[0]}_{unique_difficulties[12]}', f'{unique_latencies[0]}_{unique_difficulties[13]}', f'{unique_latencies[0]}_{unique_difficulties[14]}', f'{unique_latencies[0]}_{unique_difficulties[15]}', f'{unique_latencies[0]}_{unique_difficulties[16]}', f'{unique_latencies[0]}_{unique_difficulties[17]}', f'{unique_latencies[0]}_{unique_difficulties[18]}', f'{unique_latencies[0]}_{unique_difficulties[19]}', f'{unique_latencies[0]}_{unique_difficulties[20]}', f'{unique_latencies[0]}_{unique_difficulties[21]}', f'{unique_latencies[0]}_{unique_difficulties[22]}', f'{unique_latencies[0]}_{unique_difficulties[23]}', f'{unique_latencies[0]}_{unique_difficulties[24]}', f'{unique_latencies[0]}_{unique_difficulties[25]}', f'{unique_latencies[0]}_{unique_difficulties[26]}', f'{unique_latencies[0]}_{unique_difficulties[27]}', f'{unique_latencies[1]}_{unique_difficulties[0]}', f'{unique_latencies[1]}_{unique_difficulties[1]}', f'{unique_latencies[1]}_{unique_difficulties[2]}', f'{unique_latencies[1]}_{unique_difficulties[3]}', f'{unique_latencies[1]}_{unique_difficulties[4]}', f'{unique_latencies[1]}_{unique_difficulties[5]}', f'{unique_latencies[1]}_{unique_difficulties[6]}', f'{unique_latencies[1]}_{unique_difficulties[7]}', f'{unique_latencies[1]}_{unique_difficulties[8]}', f'{unique_latencies[1]}_{unique_difficulties[9]}', f'{unique_latencies[1]}_{unique_difficulties[10]}', f'{unique_latencies[1]}_{unique_difficulties[11]}', f'{unique_latencies[1]}_{unique_difficulties[12]}', f'{unique_latencies[1]}_{unique_difficulties[13]}', f'{unique_latencies[1]}_{unique_difficulties[14]}', f'{unique_latencies[1]}_{unique_difficulties[15]}', f'{unique_latencies[1]}_{unique_difficulties[16]}', f'{unique_latencies[1]}_{unique_difficulties[17]}', f'{unique_latencies[1]}_{unique_difficulties[18]}', f'{unique_latencies[1]}_{unique_difficulties[19]}', f'{unique_latencies[1]}_{unique_difficulties[20]}', f'{unique_latencies[1]}_{unique_difficulties[21]}', f'{unique_latencies[1]}_{unique_difficulties[22]}', f'{unique_latencies[1]}_{unique_difficulties[23]}', f'{unique_latencies[1]}_{unique_difficulties[24]}', f'{unique_latencies[1]}_{unique_difficulties[25]}', f'{unique_latencies[1]}_{unique_difficulties[26]}', f'{unique_latencies[1]}_{unique_difficulties[27]}', f'{unique_latencies[2]}_{unique_difficulties[0]}', f'{unique_latencies[2]}_{unique_difficulties[1]}', f'{unique_latencies[2]}_{unique_difficulties[2]}', f'{unique_latencies[2]}_{unique_difficulties[3]}', f'{unique_latencies[2]}_{unique_difficulties[4]}', f'{unique_latencies[2]}_{unique_difficulties[5]}', f'{unique_latencies[2]}_{unique_difficulties[6]}', f'{unique_latencies[2]}_{unique_difficulties[7]}', f'{unique_latencies[2]}_{unique_difficulties[8]}', f'{unique_latencies[2]}_{unique_difficulties[9]}', f'{unique_latencies[2]}_{unique_difficulties[10]}', f'{unique_latencies[2]}_{unique_difficulties[11]}', f'{unique_latencies[2]}_{unique_difficulties[12]}', f'{unique_latencies[2]}_{unique_difficulties[13]}', f'{unique_latencies[2]}_{unique_difficulties[14]}', f'{unique_latencies[2]}_{unique_difficulties[15]}', f'{unique_latencies[2]}_{unique_difficulties[16]}', f'{unique_latencies[2]}_{unique_difficulties[17]}', f'{unique_latencies[2]}_{unique_difficulties[18]}', f'{unique_latencies[2]}_{unique_difficulties[19]}', f'{unique_latencies[2]}_{unique_difficulties[20]}', f'{unique_latencies[2]}_{unique_difficulties[21]}', f'{unique_latencies[2]}_{unique_difficulties[22]}', f'{unique_latencies[2]}_{unique_difficulties[23]}', f'{unique_latencies[2]}_{unique_difficulties[24]}', f'{unique_latencies[2]}_{unique_difficulties[25]}', f'{unique_latencies[2]}_{unique_difficulties[26]}', f'{unique_latencies[2]}_{unique_difficulties[27]}', f'{unique_latencies[3]}_{unique_difficulties[0]}', f'{unique_latencies[3]}_{unique_difficulties[1]}', f'{unique_latencies[3]}_{unique_difficulties[2]}', f'{unique_latencies[3]}_{unique_difficulties[3]}', f'{unique_latencies[3]}_{unique_difficulties[4]}', f'{unique_latencies[3]}_{unique_difficulties[5]}', f'{unique_latencies[3]}_{unique_difficulties[6]}', f'{unique_latencies[3]}_{unique_difficulties[7]}', f'{unique_latencies[3]}_{unique_difficulties[8]}', f'{unique_latencies[3]}_{unique_difficulties[9]}', f'{unique_latencies[3]}_{unique_difficulties[10]}', f'{unique_latencies[3]}_{unique_difficulties[11]}', f'{unique_latencies[3]}_{unique_difficulties[12]}', f'{unique_latencies[3]}_{unique_difficulties[13]}', f'{unique_latencies[3]}_{unique_difficulties[14]}', f'{unique_latencies[3]}_{unique_difficulties[15]}', f'{unique_latencies[3]}_{unique_difficulties[16]}', f'{unique_latencies[3]}_{unique_difficulties[17]}', f'{unique_latencies[3]}_{unique_difficulties[18]}', f'{unique_latencies[3]}_{unique_difficulties[19]}', f'{unique_latencies[3]}_{unique_difficulties[20]}', f'{unique_latencies[3]}_{unique_difficulties[21]}', f'{unique_latencies[3]}_{unique_difficulties[22]}', f'{unique_latencies[3]}_{unique_difficulties[23]}', f'{unique_latencies[3]}_{unique_difficulties[24]}', f'{unique_latencies[3]}_{unique_difficulties[25]}', f'{unique_latencies[3]}_{unique_difficulties[26]}', f'{unique_latencies[3]}_{unique_difficulties[27]}', f'{unique_latencies[4]}_{unique_difficulties[0]}', f'{unique_latencies[4]}_{unique_difficulties[1]}', f'{unique_latencies[4]}_{unique_difficulties[2]}', f'{unique_latencies[4]}_{unique_difficulties[3]}', f'{unique_latencies[4]}_{unique_difficulties[4]}', f'{unique_latencies[4]}_{unique_difficulties[5]}', f'{unique_latencies[4]}_{unique_difficulties[6]}', f'{unique_latencies[4]}_{unique_difficulties[7]}', f'{unique_latencies[4]}_{unique_difficulties[8]}', f'{unique_latencies[4]}_{unique_difficulties[9]}', f'{unique_latencies[4]}_{unique_difficulties[10]}', f'{unique_latencies[4]}_{unique_difficulties[11]}', f'{unique_latencies[4]}_{unique_difficulties[12]}', f'{unique_latencies[4]}_{unique_difficulties[13]}', f'{unique_latencies[4]}_{unique_difficulties[14]}', f'{unique_latencies[4]}_{unique_difficulties[15]}', f'{unique_latencies[4]}_{unique_difficulties[16]}', f'{unique_latencies[4]}_{unique_difficulties[17]}', f'{unique_latencies[4]}_{unique_difficulties[18]}', f'{unique_latencies[4]}_{unique_difficulties[19]}', f'{unique_latencies[4]}_{unique_difficulties[20]}', f'{unique_latencies[4]}_{unique_difficulties[21]}', f'{unique_latencies[4]}_{unique_difficulties[22]}', f'{unique_latencies[4]}_{unique_difficulties[23]}', f'{unique_latencies[4]}_{unique_difficulties[24]}', f'{unique_latencies[4]}_{unique_difficulties[25]}', f'{unique_latencies[4]}_{unique_difficulties[26]}', f'{unique_latencies[4]}_{unique_difficulties[27]}'))

spss_arr

,Particpiant,-50.0_2.9607843137254903,-50.0_3.3555555555555556,-50.0_3.8227848101265822,-50.0_4.4411764705882355,-50.0_5.298245614035087,-50.0_5.911764705882353,-50.0_6.7,-50.0_6.711111111111111,-50.0_7.632911392405063,...,50.0_13.411111111111111,50.0_15.278481012658228,50.0_15.87719298245614,50.0_17.735294117647058,50.0_17.75,50.0_20.11111111111111,50.0_21.17543859649123,50.0_26.61764705882353,50.0_26.822222222222223,50.0_35.5
0,1.0,33.500000,29.000000,43.250000,35.666667,23.666667,106.000000,76.000000,28.200000,82.600000,...,123.666667,242.000000,166.666667,58.666667,97.500000,108.000000,121.800000,224.000000,306.666667,134.000000
1,2.0,55.333333,59.000000,163.333333,57.333333,273.000000,452.000000,557.333333,288.000000,289.333333,...,920.000000,560.000000,1103.000000,668.666667,1180.000000,544.000000,770.333333,1777.000000,1252.666667,2022.000000
2,3.0,85.000000,164.750000,176.000000,85.500000,467.000000,292.666667,236.000000,306.000000,423.000000,...,2903.400000,388.500000,568.000000,556.333333,524.333333,5440.333333,3634.250000,601.000000,5241.000000,890.000000
3,4.0,129.000000,148.000000,186.666667,290.000000,209.666667,269.000000,250.333333,285.000000,368.000000,...,637.333333,1024.000000,1025.000000,484.666667,553.333333,820.000000,857.666667,8877.666667,767.333333,1003.666667
4,5.0,211.666667,130.000000,86.666667,70.000000,88.666667,60.666667,89.000000,62.333333,116.666667,...,507.666667,403.333333,520.666667,595.333333,512.000000,328.333333,631.000000,469.000000,746.666667,1055.333333
5,6.0,215.250000,331.666667,130.666667,202.000000,333.000000,188.333333,448.333333,277.333333,358.666667,...,458.666667,493.333333,697.000000,865.000000,625.000000,754.800000,906.000000,647.000000,811.400000,757.000000
6,7.0,84.666667,135.000000,67.666667,135.000000,84.666667,28.666667,58.333333,57.000000,57.000000,...,502.333333,295.333333,584.000000,209.333333,943.666667,720.333333,580.666667,584.333333,508.000000,658.333333
7,8.0,28.333333,39.333333,171.000000,68.333333,79.666667,85.000000,111.666667,57.000000,49.000000,...,456.666667,544.000000,339.000000,449.666667,348.000000,281.333333,366.333333,348.000000,390.000000,736.000000
8,9.0,139.666667,111.000000,192.333333,131.666667,139.000000,252.000000,313.666667,119.666667,295.666667,...,835.000000,615.333333,308.333333,457.666667,772.000000,335.666667,701.333333,587.000000,845.333333,465.333333
9,10.0,47.333333,38.333333,78.333333,75.000000,100.333333,115.000000,118.333333,89.000000,118.333333,...,318.333333,420.000000,509.666667,245.333333,378.333333,240.333333,284.000000,296.666667,529.333333,381.333333
10,11.0,174.000000,302.333333,401.333333,440.666667,159.666667,480.666667,342.333333,395.666667,650.000000,...,1054.000000,867.333333,1200.333333,1971.666667,878.333333,1168.000000,2267.000000,1767.000000,1956.666667,1909.666667
11,12.0,86.666667,118.000000,343.666667,218.666667,57.666667,172.000000,170.666667,268.666667,250.000000,...,731.333333,914.333333,431.333333,459.666667,507.000000,367.000000,1299.333333,560.000000,746.000000,1506.666667
12,13.0,69.000000,89.666667,101.333333,118.333333,121.333333,109.333333,132.666667,81.000000,151.666667,...,532.333333,735.333333,325.666667,134.333333,945.333333,530.333333,739.000000,561.666667,441.666667,452.666667
13,14.0,111.666667,81.666667,164.333333,83.333333,101.666667,156.666667,207.666667,100.666667,492.666667,...,462.000000,738.666667,544.000000,586.000000,774.666667,511.000000,487.333333,610.333333,697.333333,582.000000
14,15.0,27.666667,57.333333,65.333333,116.000000,57.666667,199.000000,649.333333,139.333333,414.666667,...,853.333333,523.333333,681.666667,1988.000000,450.000000,554.000000,571.666667,615.333333,1642.666667,4777.666667
15,16.0,88.000000,203.666667,418.333333,277.000000,212.666667,424.000000,145.666667,110.000000,621.333333,...,1207.666667,1392.333333,1002.333333,1350.333333,1401.333333,1641.666667,1201.666667,2568.666667,945.333333,3873.666667
16,17.0,119.333333,81.333333,657.666667,137.333333,312.333333,530.333333,308.333333,204.666667,282.333333,...,649.000000,433.333333,458.000000,765.666667,607.000000,573.666667,568.333333,1037.000000,999.333333,2760.333333
17,18.0,29.000000,43.500000,30.666667,56.000000,NaN,72.800000,62.400000,52.500000,60.000000,...,131.666667,171.666667,181.000000,NaN,167.500000,81.000000,1147.666667,106.500000,337.000000,164.000000
18,19.0,221.000000,58.333333,96.333333,86.333333,183.000000,270.333333,407.666667,248.666667,354.000000,...,710.666667,992.666667,750.666667,592.666667,927.333333,730.666667,1376.333333,1261.666667,943.333333,1339.000000
19,20.0,127.000000,190.666667,420.000000,151.000000,461.000000,378.000000,674.666667,181.000000,387.000000,...,1058.000000,1052.333333,773.666667,748.666667,1676.333333,1874.333333,1019.000000,2016.666667,2230.000000,1648.000000
20,21.0,76.000000,47.333333,59.333333,38.000000,40.000000,95.666667,99.333333,93.666667,105.000000,...,260.333333,310.666667,131.000000,159.333333,825.666667,731.666667,406.666667,186.666667,416.333333,221.666667
21,22.0,301.333333,83.666667,116.666667,126.333333,217.000000,210.333333,132.000000,207.333333,211.666667,...,578.000000,1527.000000,760.666667,506.333333,1419.333333,470.666667,1082.666667,866.000000,825.000000,868.000000
22,23.0,195.666667,69.000000,39.333333,98.000000,59.666667,57.666667,99.000000,48.666667,102.000000,...,297.333333,323.000000,667.333333,313.333333,800.666667,274.666667,746.000000,300.000000,445.333333,875.000000
23,24.0,256.333333,176.666667,163.000000,353.666667,476.000000,804.333333,359.000000,480.333333,251.666667,...,740.333333,1262.000000,722.666667,1035.333333,1014.333333,767.666667,1981.333333,834.000000,424.000000,3709.000000
24,25.0,49.000000,48.666667,49.333333,74.666667,165.000000,69.666667,88.666667,51.000000,74.666667,...,475.333333,461.666667,316.666667,100.333333,456.000000,339.000000,431.666667,873.666667,282.000000,151.333333
25,26.0,501.333333,801.333333,826.000000,269.000000,674.666667,181.666667,141.333333,372.333333,1179.000000,...,1297.000000,3334.000000,3160.000000,1864.000000,2609.666667,2836.666667,3670.666667,2303.333333,5435.000000,7027.000000
26,27.0,182.000000,139.666667,408.333333,432.333333,205.333333,721.000000,806.333333,1799.666667,1151.666667,...,2022.666667,5533.000000,1720.000000,2081.000000,2836.333333,3105.000000,5398.000000,3528.666667,2886.000000,5321.333333
27,28.0,92.666667,334.333333,436.666667,581.666667,78.666667,697.000000,884.333333,235.000000,752.000000,...,424.333333,735.000000,1335.000000,497.000000,2406.000000,621.666667,2600.000000,4051.000000,1092.666667,745.000000
28,29.0,306.666667,397.333333,649.666667,642.666667,679.666667,764.000000,1257.333333,1311.666667,1220.000000,...,2522.666667,1808.333333,1512.666667,1972.000000,3450.000000,2504.000000,1930.000000,3790.000000,5294.666667,7733.666667
29,30.0,50.666667,39.666667,52.000000,80.000000,194.333333,39.333333,306.666667,100.000000,369.666667,...,715.000000,616.000000,645.666667,460.000000,563.666667,2763.333333,1608.333333,697.666667,1190.666667,793.666667
30,31.0,86.800000,109.000000,82.666667,43.333333,45.000000,99.800000,192.800000,88.000000,215.000000,...,559.333333,329.400000,436.666667,389.200000,382.250000,610.500000,401.000000,276.000000,583.000000,372.333333

In [41]:
spss_arr.to_csv(base_path + '/latency_and_id_vs_mt.csv', sep=';')

# Errors vs ID on Latency

In [84]:
error_data = raw_mt_data[raw_mt_data['MT'] == -1]
error_data['part_id'] = error_data['part_id'].astype(float)
error_data

C:\Users\ragor\AppData\Local\Temp\ipykernel_24972\3523060998.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  error_data['part_id'] = error_data['part_id'].astype(float)

     part_id  compensation  width  length  MT         ID
0       10.0         -50.0     57     603  -1  10.578947
2       10.0         -50.0     45     905  -1  20.111111
3       10.0         -50.0     45     905  -1  20.111111
7       10.0         -50.0     45     905  -1  20.111111
8       10.0         -50.0     45     905  -1  20.111111
..       ...           ...    ...     ...  ..        ...
511      9.0          50.0     34    1207  -1  35.500000
512      9.0          50.0     34    1207  -1  35.500000
516      9.0         -50.0     68     302  -1   4.441176
523      9.0         -50.0     90    1207  -1  13.411111
564      9.0          50.0     45     905  -1  20.111111

[5435 rows x 6 columns]

In [92]:
unique_difficulties = error_data['ID'].unique()

In [93]:
unique_difficulties.sort()
print(unique_difficulties)

[ 2.96078431  3.35555556  3.82278481  4.44117647  5.29824561  5.91176471
  6.7         6.71111111  7.63291139  8.86764706  8.87254902  8.88235294
 10.05555556 10.57894737 11.4556962  11.83333333 13.30882353 13.4
 13.41111111 15.27848101 15.87719298 17.73529412 17.75       20.11111111
 21.1754386  26.61764706 26.82222222 35.5       ]

In [94]:
error_vs_id_arr = []
for curr_id in unique_ids:
    curr_part_data = [curr_id]
    for curr_lat in unique_latencies:
        for curr_diff in unique_difficulties:
            curr_part_data.append(error_data[(error_data['part_id'] == curr_id) & (error_data['compensation'] == curr_lat) & (error_data['ID'] == curr_diff)]['MT'].count() / raw_mt_data[(raw_mt_data['part_id'] == curr_id) & (raw_mt_data['compensation'] == curr_lat) & (raw_mt_data['ID'] == curr_diff)]['MT'].count())
    error_vs_id_arr.append(curr_part_data)

error_vs_id_arr = pd.DataFrame(error_vs_id_arr, columns=('Particpiant', f'{unique_latencies[0]}_{unique_difficulties[0]}', f'{unique_latencies[0]}_{unique_difficulties[1]}', f'{unique_latencies[0]}_{unique_difficulties[2]}', f'{unique_latencies[0]}_{unique_difficulties[3]}', f'{unique_latencies[0]}_{unique_difficulties[4]}', f'{unique_latencies[0]}_{unique_difficulties[5]}', f'{unique_latencies[0]}_{unique_difficulties[6]}', f'{unique_latencies[0]}_{unique_difficulties[7]}', f'{unique_latencies[0]}_{unique_difficulties[8]}', f'{unique_latencies[0]}_{unique_difficulties[9]}', f'{unique_latencies[0]}_{unique_difficulties[10]}', f'{unique_latencies[0]}_{unique_difficulties[11]}', f'{unique_latencies[0]}_{unique_difficulties[12]}', f'{unique_latencies[0]}_{unique_difficulties[13]}', f'{unique_latencies[0]}_{unique_difficulties[14]}', f'{unique_latencies[0]}_{unique_difficulties[15]}', f'{unique_latencies[0]}_{unique_difficulties[16]}', f'{unique_latencies[0]}_{unique_difficulties[17]}', f'{unique_latencies[0]}_{unique_difficulties[18]}', f'{unique_latencies[0]}_{unique_difficulties[19]}', f'{unique_latencies[0]}_{unique_difficulties[20]}', f'{unique_latencies[0]}_{unique_difficulties[21]}', f'{unique_latencies[0]}_{unique_difficulties[22]}', f'{unique_latencies[0]}_{unique_difficulties[23]}', f'{unique_latencies[0]}_{unique_difficulties[24]}', f'{unique_latencies[0]}_{unique_difficulties[25]}', f'{unique_latencies[0]}_{unique_difficulties[26]}', f'{unique_latencies[0]}_{unique_difficulties[27]}', f'{unique_latencies[1]}_{unique_difficulties[0]}', f'{unique_latencies[1]}_{unique_difficulties[1]}', f'{unique_latencies[1]}_{unique_difficulties[2]}', f'{unique_latencies[1]}_{unique_difficulties[3]}', f'{unique_latencies[1]}_{unique_difficulties[4]}', f'{unique_latencies[1]}_{unique_difficulties[5]}', f'{unique_latencies[1]}_{unique_difficulties[6]}', f'{unique_latencies[1]}_{unique_difficulties[7]}', f'{unique_latencies[1]}_{unique_difficulties[8]}', f'{unique_latencies[1]}_{unique_difficulties[9]}', f'{unique_latencies[1]}_{unique_difficulties[10]}', f'{unique_latencies[1]}_{unique_difficulties[11]}', f'{unique_latencies[1]}_{unique_difficulties[12]}', f'{unique_latencies[1]}_{unique_difficulties[13]}', f'{unique_latencies[1]}_{unique_difficulties[14]}', f'{unique_latencies[1]}_{unique_difficulties[15]}', f'{unique_latencies[1]}_{unique_difficulties[16]}', f'{unique_latencies[1]}_{unique_difficulties[17]}', f'{unique_latencies[1]}_{unique_difficulties[18]}', f'{unique_latencies[1]}_{unique_difficulties[19]}', f'{unique_latencies[1]}_{unique_difficulties[20]}', f'{unique_latencies[1]}_{unique_difficulties[21]}', f'{unique_latencies[1]}_{unique_difficulties[22]}', f'{unique_latencies[1]}_{unique_difficulties[23]}', f'{unique_latencies[1]}_{unique_difficulties[24]}', f'{unique_latencies[1]}_{unique_difficulties[25]}', f'{unique_latencies[1]}_{unique_difficulties[26]}', f'{unique_latencies[1]}_{unique_difficulties[27]}', f'{unique_latencies[2]}_{unique_difficulties[0]}', f'{unique_latencies[2]}_{unique_difficulties[1]}', f'{unique_latencies[2]}_{unique_difficulties[2]}', f'{unique_latencies[2]}_{unique_difficulties[3]}', f'{unique_latencies[2]}_{unique_difficulties[4]}', f'{unique_latencies[2]}_{unique_difficulties[5]}', f'{unique_latencies[2]}_{unique_difficulties[6]}', f'{unique_latencies[2]}_{unique_difficulties[7]}', f'{unique_latencies[2]}_{unique_difficulties[8]}', f'{unique_latencies[2]}_{unique_difficulties[9]}', f'{unique_latencies[2]}_{unique_difficulties[10]}', f'{unique_latencies[2]}_{unique_difficulties[11]}', f'{unique_latencies[2]}_{unique_difficulties[12]}', f'{unique_latencies[2]}_{unique_difficulties[13]}', f'{unique_latencies[2]}_{unique_difficulties[14]}', f'{unique_latencies[2]}_{unique_difficulties[15]}', f'{unique_latencies[2]}_{unique_difficulties[16]}', f'{unique_latencies[2]}_{unique_difficulties[17]}', f'{unique_latencies[2]}_{unique_difficulties[18]}', f'{unique_latencies[2]}_{unique_difficulties[19]}', f'{unique_latencies[2]}_{unique_difficulties[20]}', f'{unique_latencies[2]}_{unique_difficulties[21]}', f'{unique_latencies[2]}_{unique_difficulties[22]}', f'{unique_latencies[2]}_{unique_difficulties[23]}', f'{unique_latencies[2]}_{unique_difficulties[24]}', f'{unique_latencies[2]}_{unique_difficulties[25]}', f'{unique_latencies[2]}_{unique_difficulties[26]}', f'{unique_latencies[2]}_{unique_difficulties[27]}', f'{unique_latencies[3]}_{unique_difficulties[0]}', f'{unique_latencies[3]}_{unique_difficulties[1]}', f'{unique_latencies[3]}_{unique_difficulties[2]}', f'{unique_latencies[3]}_{unique_difficulties[3]}', f'{unique_latencies[3]}_{unique_difficulties[4]}', f'{unique_latencies[3]}_{unique_difficulties[5]}', f'{unique_latencies[3]}_{unique_difficulties[6]}', f'{unique_latencies[3]}_{unique_difficulties[7]}', f'{unique_latencies[3]}_{unique_difficulties[8]}', f'{unique_latencies[3]}_{unique_difficulties[9]}', f'{unique_latencies[3]}_{unique_difficulties[10]}', f'{unique_latencies[3]}_{unique_difficulties[11]}', f'{unique_latencies[3]}_{unique_difficulties[12]}', f'{unique_latencies[3]}_{unique_difficulties[13]}', f'{unique_latencies[3]}_{unique_difficulties[14]}', f'{unique_latencies[3]}_{unique_difficulties[15]}', f'{unique_latencies[3]}_{unique_difficulties[16]}', f'{unique_latencies[3]}_{unique_difficulties[17]}', f'{unique_latencies[3]}_{unique_difficulties[18]}', f'{unique_latencies[3]}_{unique_difficulties[19]}', f'{unique_latencies[3]}_{unique_difficulties[20]}', f'{unique_latencies[3]}_{unique_difficulties[21]}', f'{unique_latencies[3]}_{unique_difficulties[22]}', f'{unique_latencies[3]}_{unique_difficulties[23]}', f'{unique_latencies[3]}_{unique_difficulties[24]}', f'{unique_latencies[3]}_{unique_difficulties[25]}', f'{unique_latencies[3]}_{unique_difficulties[26]}', f'{unique_latencies[3]}_{unique_difficulties[27]}', f'{unique_latencies[4]}_{unique_difficulties[0]}', f'{unique_latencies[4]}_{unique_difficulties[1]}', f'{unique_latencies[4]}_{unique_difficulties[2]}', f'{unique_latencies[4]}_{unique_difficulties[3]}', f'{unique_latencies[4]}_{unique_difficulties[4]}', f'{unique_latencies[4]}_{unique_difficulties[5]}', f'{unique_latencies[4]}_{unique_difficulties[6]}', f'{unique_latencies[4]}_{unique_difficulties[7]}', f'{unique_latencies[4]}_{unique_difficulties[8]}', f'{unique_latencies[4]}_{unique_difficulties[9]}', f'{unique_latencies[4]}_{unique_difficulties[10]}', f'{unique_latencies[4]}_{unique_difficulties[11]}', f'{unique_latencies[4]}_{unique_difficulties[12]}', f'{unique_latencies[4]}_{unique_difficulties[13]}', f'{unique_latencies[4]}_{unique_difficulties[14]}', f'{unique_latencies[4]}_{unique_difficulties[15]}', f'{unique_latencies[4]}_{unique_difficulties[16]}', f'{unique_latencies[4]}_{unique_difficulties[17]}', f'{unique_latencies[4]}_{unique_difficulties[18]}', f'{unique_latencies[4]}_{unique_difficulties[19]}', f'{unique_latencies[4]}_{unique_difficulties[20]}', f'{unique_latencies[4]}_{unique_difficulties[21]}', f'{unique_latencies[4]}_{unique_difficulties[22]}', f'{unique_latencies[4]}_{unique_difficulties[23]}', f'{unique_latencies[4]}_{unique_difficulties[24]}', f'{unique_latencies[4]}_{unique_difficulties[25]}', f'{unique_latencies[4]}_{unique_difficulties[26]}', f'{unique_latencies[4]}_{unique_difficulties[27]}'))

error_vs_id_arr

C:\Users\ragor\AppData\Local\Temp\ipykernel_24972\2040243416.py:6: RuntimeWarning: invalid value encountered in longlong_scalars
  curr_part_data.append(error_data[(error_data['part_id'] == curr_id) & (error_data['compensation'] == curr_lat) & (error_data['ID'] == curr_diff)]['MT'].count() / raw_mt_data[(raw_mt_data['part_id'] == curr_id) & (raw_mt_data['compensation'] == curr_lat) & (raw_mt_data['ID'] == curr_diff)]['MT'].count())

,Particpiant,50.0_2.9607843137254903,50.0_3.3555555555555556,50.0_3.8227848101265822,50.0_4.4411764705882355,50.0_5.298245614035087,50.0_5.911764705882353,50.0_6.7,50.0_6.711111111111111,50.0_7.632911392405063,...,-50.0_13.411111111111111,-50.0_15.278481012658228,-50.0_15.87719298245614,-50.0_17.735294117647058,-50.0_17.75,-50.0_20.11111111111111,-50.0_21.17543859649123,-50.0_26.61764705882353,-50.0_26.822222222222223,-50.0_35.5
0,1,0.00,0.000000,0.000000,0.00,0.250000,0.00,0.000000,0.000000,0.00,...,0.166667,0.166667,0.333333,0.000000,0.000000,0.285714,0.333333,0.333333,NaN,0.200000
1,2,0.00,0.000000,0.250000,0.00,0.400000,0.00,0.000000,0.000000,0.00,...,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.000000,0.250000,0.400000
2,3,0.50,0.000000,0.200000,0.00,0.615385,0.00,0.400000,0.636364,0.25,...,0.000000,0.700000,0.571429,0.625000,0.666667,0.400000,0.000000,0.545455,0.833333,0.800000
3,4,0.00,0.000000,0.000000,0.00,0.500000,0.50,0.000000,0.000000,0.00,...,0.000000,0.000000,0.400000,0.400000,0.400000,0.000000,0.625000,0.000000,0.571429,0.400000
4,5,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.400000,0.25,...,0.000000,0.000000,0.250000,0.000000,0.000000,0.000000,0.250000,0.250000,0.000000,0.500000
5,6,0.00,0.000000,0.333333,0.00,0.200000,0.00,0.000000,0.333333,0.00,...,0.727273,0.666667,0.400000,0.428571,0.428571,0.000000,0.000000,0.250000,0.250000,0.571429
6,7,0.00,0.000000,0.250000,0.00,0.500000,0.00,0.000000,0.250000,0.25,...,0.000000,0.400000,0.250000,0.250000,0.250000,0.500000,0.250000,0.400000,0.571429,0.571429
7,8,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.25,...,0.000000,0.250000,0.250000,0.000000,0.000000,0.666667,0.250000,0.500000,0.250000,0.000000
8,9,0.00,0.000000,0.000000,0.00,0.250000,0.00,0.000000,0.000000,0.00,...,0.571429,0.250000,0.250000,0.250000,0.000000,0.000000,0.250000,0.500000,0.000000,0.800000
9,10,0.00,0.000000,0.000000,0.00,0.000000,0.25,0.500000,0.000000,0.00,...,0.250000,0.250000,0.400000,0.571429,0.000000,0.700000,0.000000,0.500000,0.400000,0.000000
10,11,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,...,0.250000,0.625000,0.000000,0.500000,0.571429,0.250000,0.250000,0.250000,0.400000,0.625000
11,12,0.00,0.000000,0.250000,0.00,0.000000,0.00,0.000000,0.400000,0.25,...,0.250000,0.500000,0.666667,0.400000,0.000000,0.000000,0.250000,0.625000,0.750000,0.625000
12,13,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.250000,0.00,...,0.000000,0.000000,0.500000,0.571429,0.250000,0.400000,0.250000,0.750000,0.000000,0.625000
13,14,0.00,0.250000,0.000000,0.25,0.000000,0.00,0.000000,0.250000,0.00,...,0.000000,0.250000,0.400000,0.625000,0.000000,0.500000,0.000000,0.000000,0.571429,0.769231
14,15,0.00,0.250000,0.250000,0.00,0.000000,0.00,0.000000,0.250000,0.00,...,0.250000,0.250000,0.000000,0.727273,0.000000,0.500000,0.571429,0.500000,0.700000,0.666667
15,16,0.00,0.250000,0.000000,0.25,0.250000,0.00,0.000000,0.250000,0.25,...,0.400000,0.250000,0.400000,0.571429,0.000000,0.250000,0.000000,0.250000,0.000000,0.500000
16,17,0.00,0.000000,0.000000,0.00,0.000000,0.25,0.000000,0.000000,0.00,...,0.250000,0.000000,0.400000,0.250000,0.000000,0.000000,0.000000,0.250000,0.000000,0.400000
17,18,0.00,0.500000,0.400000,0.00,0.000000,0.25,0.000000,0.333333,0.40,...,0.000000,0.250000,NaN,0.500000,0.000000,0.636364,0.000000,NaN,0.000000,0.666667
18,19,0.00,0.000000,0.000000,0.40,0.000000,0.00,0.000000,0.250000,0.40,...,0.250000,0.000000,0.250000,0.700000,0.250000,0.000000,0.571429,0.000000,0.700000,0.000000
19,20,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.250000,0.250000,0.00,...,0.250000,0.000000,0.400000,0.727273,0.500000,0.400000,0.000000,0.250000,0.625000,0.571429
20,21,0.00,0.000000,0.000000,0.00,0.000000,0.25,0.500000,0.400000,0.50,...,0.000000,0.571429,0.000000,0.400000,0.571429,0.000000,0.000000,0.769231,0.400000,0.666667
21,22,0.25,0.000000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.00,...,0.400000,0.250000,0.250000,0.000000,0.250000,0.000000,0.250000,0.500000,0.250000,0.000000
22,23,0.00,0.000000,0.000000,0.00,0.000000,0.25,0.000000,0.000000,0.25,...,0.000000,0.400000,0.000000,0.250000,0.000000,0.000000,0.250000,0.500000,0.625000,0.000000
23,24,0.00,0.250000,0.000000,0.00,0.000000,0.00,0.000000,0.000000,0.25,...,0.000000,0.000000,0.250000,0.250000,0.250000,0.000000,0.400000,0.250000,0.400000,0.875000
24,25,0.00,0.000000,0.000000,0.00,0.000000,0.40,0.000000,0.000000,0.00,...,0.000000,0.500000,0.000000,0.666667,0.250000,0.400000,0.571429,0.571429,0.625000,0.500000
25,26,0.00,0.571429,0.250000,0.40,0.400000,0.00,0.250000,0.250000,0.00,...,0.250000,0.666667,0.000000,0.666667,0.000000,0.785714,0.000000,0.625000,0.000000,0.571429
26,27,0.00,0.250000,0.000000,0.00,0.250000,0.00,0.250000,0.000000,0.25,...,0.000000,0.250000,0.000000,0.000000,0.000000,0.500000,0.666667,0.875000,0.000000,0.727273
27,28,0.25,0.000000,0.000000,0.40,0.000000,0.25,0.250000,0.000000,0.00,...,0.000000,0.250000,0.500000,0.925000,0.400000,0.571429,0.625000,0.000000,0.400000,0.700000
28,29,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.250000,0.000000,0.40,...,0.000000,0.000000,0.769231,0.000000,0.625000,0.500000,0.500000,0.250000,0.400000,0.571429
29,30,0.00,0.000000,0.000000,0.00,0.000000,0.00,0.250000,0.000000,0.00,...,0.571429,0.727273,0.400000,0.000000,0.750000,0.250000,0.250000,0.500000,0.700000,0.000000
30,31,0.00,0.000000,NaN,0.00,0.500000,0.00,0.428571,0.333333,0.20,...,0.333333,0.285714,0.200000,0.250000,0.333333,0.250000,0.333333,0.000000,0.600000,0.500000

In [95]:
error_vs_id_arr.to_csv(base_path + '/error_vs_id_and_lat.csv', sep=';')